$border-color: rgb(68, 68, 68);

.wrapper {
  height: 100vh;
  width: 100vw;
  background: url("../assets/background.jpg");
  display: flex;
  align-items: center;

  main {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    height: 100%;

    .header {
      font-size: 50px;
      font-weight: 600;
      color: #333;
      margin: auto;
    }

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .table {
      width: 30%;
      background: #fefefe;
      height: 80%;
      overflow-y: auto;
      margin-bottom: 55px;
      color: var(--black);
      border: 1px solid $border-color;
      box-shadow: 0 5px 15px 1px #3333;
      font-weight: 500;
    }

    .row:last-child {
      border-bottom: none;
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      text-align: center;
      padding: 10px 20px;
      border-bottom: 1px solid $border-color;
    }

    .tableInfo {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 10px 20px;
      text-align: center;
      position: sticky;
      top: 0;
      color: #333;
      background: #d2d2d2;
      border-bottom: 1px solid $border-color;
    }

    // .clientImage {
    //   height: 40px;
    //   border-radius: 100px;
    //   margin-left: 55px;
    // }

    .rowName {
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.addStudents {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;

  .addHeader {
    font-size: 34px;
  }

  .inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    .input {
      padding: 10px;
      width: 300px;
      border-radius: 6px;
      backdrop-filter: blur(4px);
      background: #fff9;
      outline: none;
      border: 1px solid $border-color;
      transition: all 200ms ease-in-out;

      &:focus {
        background: #fff;
        border-color: darken($border-color, 100%);
      }
    }
  }

  .addButton {
    padding: 10px;
    width: 300px;
    border-radius: 6px;
    cursor: pointer;
    backdrop-filter: blur(4px);
    background: #0009;
    color: #fff;
    outline: none;
    border: 1px solid $border-color;
    transition: all 200ms ease-in-out;

    &:hover {
      background: #333;
      transform: translate(0, -5px);
    }
  }
}

.selectInput {
  padding: 10px;
  width: 300px;
  border-radius: 6px;
  backdrop-filter: blur(4px);
  background: #fff9;
  outline: none;
  border: 1px solid $border-color;
  transition: all 200ms ease-in-out;

  &:focus {
    background: #fff;
    border-color: darken($border-color, 100%);
  }
}
